<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
	 <a *ngIf= "loginService.isUserLoggedIn()" routerLink="products" class="clickMe Info" routerLinkActive="active">Products List</a>
    </li>
    <li class="nav-item">
      <a *ngIf= "loginService.isUserLoggedIn()" routerLink="add" class="clickMe Info" routerLinkActive="active">Add Product</a>
       </li>
       <li class="nav-item">
        <a *ngIf= "loginService.isUserLoggedIn()" routerLink="dealers" class="clickMe Info" routerLinkActive="active">Dealers Info</a>
         </li>
         <li class="nav-item">
          <a *ngIf= "!loginService.isUserLoggedIn()" routerLink="register" class="clickMe Info" routerLinkActive="active">Register Dealer</a>
           </li>
           <li class="nav-item">
            <a *ngIf= "!loginService.isUserLoggedIn()" routerLink="/login" class="clickMe Info" routerLinkActive="active">Log In</a>
             </li>
             <li class="nav-item">
              <a *ngIf= "loginService.isUserLoggedIn()" routerLink="/logout" class="clickMe Info" routerLinkActive="active">Log Out</a>
               </li>
               <li class="nav-item">
                <a *ngIf= "!loginService.isUserLoggedIn()" routerLink="/home" class="clickMe Info" routerLinkActive="active">Home</a>
                 </li>

</ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
   
    <div class="card-body">
    
  <router-outlet></router-outlet>
  
    </div>
  </div>
</div>

<footer class="page-footer font-small mdb-color lighten-3 pt-4 card-body">
  
  <div class="footer-copyright text-center py-3">All Rights Reserved 2021 @Shantonu Coforge ltd.</div>
  
</footer>