<div class="back">

    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4 class="card-title">Inventory Management System</h4>
                <h6 class="card-subtitle mb-2">IMS</h6>
                <p class="card-text">Product management software is an organizational tool used to develop and improve a
                    business' products quickly and efficiently. These solutions enable product managers and their teams
                    to collect new ideas and lay out specific plans to make the ideas into a finished product. </p>
            </div>
        </div>
        <img class="card-img-bottom"
            src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-2.jpg"
            alt="Bologna">
    </div>

</div>